#!/bin/bash
# Hash: {{ include (joinPath .chezmoi.sourceDir ".chezmoidata/packages.yaml") | sha256sum }}
if command -v go &> /dev/null; then
  echo "Installing Go tools..."
  {{ range .go_tools -}}
  go install {{ . }}
  {{ end -}}
fi
